{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="album_btn "><br>
    <a href="{% url 'management:new-gener' %}" class="ms_btn"><span class="play_all">ژانر جدید</span></a>
</div>

<div class="album_inner_list" style="padding-top: 30px">
				<div class="album_list_wrapper">
					<ul class="album_list_name">
						<li>تصویر</li>
						<li>نام </li>
						<li class="text-center"> بیشتر</li>
					</ul>
                    {% for gener in geners %}
					<ul class="album_single">

                        <li><a href="{{ gener.get_absolute_url }}"><img src="{{ gener.picture }}" width="40" height="40" class="img-fluid"></a></li>
						<li><a href="{{ gener.get_absolute_url }}">{{ gener.name }}</a></li>
						<li class="text-center ms_more_icon"><a href="javascript:;"><span class="ms_icon1 ms_active_icon"></span></a>
                            <ul class="more_option">
                                <li><a target="_self" href="{% url 'management:edit_gener' gener.id %}"><span class="opt_icon"></span>ویرایش</a></li>
                                <li><a target="_self" href="{% url 'management:gener-delete' gener.slug %}"><span class="opt_icon"></span>حذف  ..</a></li>
                                <li><a href="javascript:;" data-toggle="modal" data-target="#clear_modal"><span class="opt_icon"></span>حذف</a></li>
                            </ul>
						</li>
					</ul>
                    {% endfor %}




				</div>
			</div>
            {% include 'management/song-delete.html' %}

{% endblock %}