<div class="ms_clear_modal">
        <div id="clear_modal" class="modal centered-modal" role="dialog" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="fa_icon form_close"></i>
                    </button>
                    <div class="modal-body">
                        <h1>آبا شما برای پاک کردن {{ song }} مطمئن هستبد؟</h1>
                        <div class="clr_modal_btn">
                            <a href="{{ song.id }}">پاک کن</a>
                            <a href="#">انصراف</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>